<!-- StudentAssignmentPage.ejs -->
<%- include('../layouts/main_layout.ejs', { assignments, contentType: 'assignments' }) %>

<!-- assignments-container -->
<div id="assignments-container">
  <!-- The assignments_partial will be included dynamically within main_layout.ejs -->
</div>