<% if (assignments && assignments.length > 0) { %>
<% assignments.forEach(function(assignment) { %>
<div class="assignment">
  <h3>Assignment <%= assignment.exerid %></h3>
  <p><%= assignment.description %></p>
</div>
<% }); %>
<% } else { %>
<p>No assignments available.</p>
<% } %>